name: SBOM

on:
  push:
    branches: [main]
    paths:
      - "package.json"
      - "package-lock.json"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  sbom:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: "npm"

      - run: npm ci

      - name: Generate SBOM
        uses: anchore/sbom-action@v0
        with:
          artifact-name: sbom.spdx.json
          output-file: ./sbom.spdx.json

      - name: Upload SBOM to GitHub
        uses: actions/upload-artifact@v6
        with:
          name: sbom
          path: ./sbom.spdx.json
